/*versions box. very dark background */

.wy-side-nav-search {
  background: #790079;
}

a {
  color: #802979;
}

a:visited {
  color: #802979;
}

.wy-side-nav-search input[type=text] {
  border-color: #9824A4;
}
